In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd


# Introduction to Python *-* pandas

---

<br>
Albert Ruiz

## Agenda

* Introduction to pd.Series
* Introduction to pd.DataFrame
* Essential functionality
* Summarizing and descriptive statistics
* Loading and storage
* Data cleaning
* Data preparation
* Data wrangling
* Data aggregation

<h1 class="center_text">Introduction to pd.Series</h1>

## What is a pd.Series?

A series is a one-dimensional array-like object containing a sequence of *values* and an associated array of *labels* used as index.

In [ ]:
# Default index
obj = pd.Series([10, 20, 30])
obj

# Custom labels
obj = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
obj

# Labels can be numbers and values can be strings too
obj = pd.Series(['a', 'b', 'c'], index=[10, 20, 30])
obj

## Basic selection

Compared with NumPy arrays, you can use labels when selecting values.

In [ ]:
# Default indexes
obj = pd.Series([10, 20, 30])

# Single value
f"Accessing a single value: {obj[2]}"

# Set of values
f"Accessing a set of values:"
obj[1:3]

# Custom labels
obj = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Single value
f"Accessing a single value by label: {obj['c']}"

# Set of values
f"Accessing a set of values by labels:"
obj[['b', 'c']]

## pd.Series attributes

All series have the following attributes:

* `dtype` - Return the dtype object of the underlying data.
* `hasnans` - Return if I have any nans; enables various performance speedups.
* `iat` - Access a single value for a row/column pair by integer position.
* `index` - The index (labels) of the Series.
* `is_monotonic` - Return True if values in the object are monotonic_increasing.
* `is_monotonic_decreasing` - Return True if values in the object are monotonic_decreasing.
* `is_unique` - Return True if values in the object are unique.
* `loc` - Access a group of rows and columns by label(s) or a boolean array.
* `ndim` - Number of dimensions of the underlying data.
* `shape` - Return a tuple of the shape of the underlying data.
* `size` - Return the number of elements in the underlying data.
* `values` - Return Series as ndarray or ndarray-like depending on the dtype.

You can find the full list of attributes in this [link](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

## Using pd.Series attributes

In [ ]:
obj = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Value and index
f"Values: {obj.values}"
f"Type: {type(obj.values)}"
f"Indexes: {obj.index}"

# Accessing
f"Accessing by integer position: {obj.iat[2]}"
f"Accessing by label: {obj.loc['c']}"

# Monotonic
f"Is monotonic: {obj.is_monotonic}"

# Unique
f"Is unique: {obj.is_unique}"

# Dimension, shape and size
f"Number of dimensions: {obj.ndim}"
f"Shape: {obj.shape}"
f"Size: {obj.size}"

## pd.Series methods

All series have the following methods:

* `abs` - Return a Series with absolute numeric value of each element.
* `add` - Add value to series, element-wise.
* `mul` and `div` - Multiply/Divide by value or series, element wise.
* `pow` - Return exponential power of series and value or series.
* `all` - Return whether all elements are True.
* `any` - Return whether any elements are True.
* `append` - Concatenate series.
* `argmax` and `argmin` - Return the int position of the largest/smallest value.
* `max` and `min` - Return the maximum/minimum value.
* `sum` - Return the sum of the values.
* `mean` and `median` - Return the mean and the median of the values.

You can find the full list of attributes in this [link](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

## Using pd.Series methods

In [ ]:
obj = pd.Series([1, 5, 2], index=['a', 'b', 'c'])

#  Multiply by value
"Multiply by value:"
obj.mul(2)

# Multiply by series
"Multiply by series:"
obj.mul(obj)

# Sum, mean and median
f"Sum: {obj.sum()}"
f"Mean: {obj.mean()}"
f"Median: {obj.median()}"

# Finding maximum value
f"Max: {obj.max()}"
f"Max value is at: {obj.argmax()}"

# Using NumPy functions

NumPy functions and NumPy-like operations (filtering, scalar multiplication, applying math functions...) can be used with pd.Series. Index-value links are preserved.

In [ ]:
obj = pd.Series([1, 5, 2], index=['a', 'b', 'c'])

# NumPy-like operations examples
"Boolean filter:"
obj[obj >= 2]

"Element wise multiplication:"
obj * 2

# Numpy functions
"Power:"
np.power(obj, 3)

"Flip:"
np.flip(obj)

<h1 class="center_text">Introduction to pd.DataFrame</h1>

## What is a pd.DataFrame?

A DataFrame represents a rectangular table of data.

It contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

In [ ]:
data = {
    "name": ["Max", "Sarah", "John"],
    "surname": ["Rockatansky", "Connor", "McClane"],
    "sex": ["M", "F", "M"],
     "age": [35, 25, 40],
     "country": ["AU", "US", "US"]
}

df = pd.DataFrame(data)
df

## Constructors

In [ ]:
"From dict:"
df = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40],
     "country": ["AU", "US", "US"]}
)
df

"From list of lists (or list of tuples):"
df = pd.DataFrame(
    [["Max", "Rockatansky", "M", 35],
     ["Sarah", "Connor", "F", 25],
     ["John", "McClane", "M", 40]]
)
df

## Custom indexes

By default, rows are numbered. You can also define a label for each row:

In [ ]:
df = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40],
     "country": ["AU", "US", "US"]},
    index=["a", "b", "c"]
)
df

<h1 class="center_text">Essential functionality</h1>

### *Note*

This section only covers functions used with pd.DataFrame. However, most of them can also be used with pd.Series.

## Reindexing

Reindexing means to create a new object with the data conformed to a new index.

In [ ]:
"Initial DataFrame:"
df_1 = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40],
     "country": ["AU", "US", "US"]},
    index=["a", "b", "c"]
)
df_1

"Reindexing:"
df_2 = df_1.reindex(['a', 'c', 'b'])
df_2

"Reindexing and adding a new index:"
df_3 = df_1.reindex(['a', 'c', 'd', 'b'])
df_3

## Resetting index

In [ ]:
"Initial DataFrame:"
df_1 = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40]},
    index=["a", "b", "c"]
)
df_1

"Resetting without dropping:"
df_2 = df_1.reset_index(drop=False)
df_2

"Resetting with dropping:"
df_3 = df_1.reset_index(drop=True)
df_3

## Dropping rows and columns

In [ ]:
"Initial DataFrame:"
df_1 = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40]},
    index=["a", "b", "c"]
)
df_1

"Dropping rows:"
df_2 = df_1.drop(["c", "b"])
df_2

"Dropping columns:"
df_3 = df_1.drop(["sex", "surname"], axis='columns')
df_3

## Indexing

Indexing into a DataFrame is for retrieving one or more columns.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"One column:"
df["three"]

"Multiple columns:"
df[["three", "one"]]

## Filtering: conditional indexing

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"One condition:"
df[df["two"] >= 5]

"Multiple conditions (or):"
df[(df["two"] >= 5) | (df["three"] >= 8)]

"Multiple conditions (and):"
df[(df["two"] >= 5) & (df["three"] >= 8)]

## Selection with loc

`loc` is a special indexing operator to select a subset of rows and columns by label.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"Selecting by row:"
df.loc["italy"]

f"Selecting by pair row-col: {df.loc['italy', 'three']}"

"Selecting multiple rows and cols:"
df.loc[["france", "italy"], ["one", "four"]]

## Selecting with iloc

`iloc` is a special indexing operator to select a subset of rows and columns by position.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"Selecting by row:"
df.iloc[1]

f"Selecting by pair row-col: {df.iloc[1, 2]}"

"Selecting multiple rows and cols:"
df.iloc[[0, 1], [0, 3]]

## Selecting with loc */* iloc with slicing

Both `loc` and `iloc` work with slices

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"loc with slicing:"
df.loc[:"italy", "two":"four"]

"iloc with slicing:"
df.iloc[:2, 1:4]

## Select single scalar with at

`at` is a special indexing operator to select a single scalar by row and column label.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

f"Selecting single scalar: {df.at['slovakia', 'two']}"

## Select single scalar with at

`at` is a special indexing operator to select a single scalar by row and column position.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

f"Selecting single scalar: {df.iat[2, 1]}"

## Arithmetic operators and methods with fill values (1/4)

pandas includes some arithmetic operations:

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    np.arange(9).reshape(3, 3),
    columns=["a", "b", "c"],
)
df_1

df_2 = pd.DataFrame(
    np.arange(16).reshape(4, 4),
    columns=["a", "b", "c", "d"],
)
df_2

"Adding with operator:"
df_1 + df_2

"Adding with add() method:"
df_1.add(df_2)

## Arithmetic operators and methods with fill values (2/4)

List of operations:

* `+` operator and `add` method for addition
* `-` operator and `sub` method for subtraction
* `*` operator and `mul` method for multiplication
* `/` operator and `div` method for division
* `//` operator and `floordiv` method for floor division
* `**` operator and `pow` method for exponentiation

## Arithmetic operators and methods with fill values (3/4)

Some examples:

In [ ]:
"Multiplying with operator:"
df_1 * df_2

"Multiplying with mul() method:"
df_1.mul(df_2)

## Arithmetic operators and methods with fill values (4/4)

Arithmetic methods have the `fill_value` parameter:

In [ ]:
"Multiplying with mul() method:"
df_1.mul(df_2, fill_value=0)

"Exponentiation with pow() method:"
df_1.pow(df_2, fill_value=0)

## Function application

It is possible to apply a function on one-dimensional arrays to each column or row:

In [ ]:
# Dummy function
def f(x):
    return x.max() - x.min()

"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"Apply to each column:"
df.apply(f)

"Apply to each row:"
df.apply(f, axis='columns')

## Lambda functions

Functions to apply can be defined on the fly as lambda functions:

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"Apply to each column:"
df.apply(lambda x: x.max() - x.min())

"Apply to each row:"
df.apply(lambda x: x.max() - x.min(),
         axis='columns')

# Sorting by index

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"After sorting by row index:"
df = df.sort_index(ascending=False)
df

"After sorting by column index:"
df = df.sort_index(axis='columns')
df

## Sorting by value

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40]}
)
df

"Sorting by one column:"
df = df.sort_values(by="sex")
df

"Sorting by multiple columns:"
df = df.sort_values(by=["sex", "name"])
df

## Ranking

Ranking assigns ranks from one through the number of valid data points in an array.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40]}
)
df

"Ranking:"
df.rank()

<h1 class="center_text">Summarizing and descriptive statistics</h1>

## Reduction methods (1/2)

pandas objects are equipped with a set of common mathematical and statistical methods for reduction (or summary statistics).

* `count` - Number of non-NA values.
* `describe` - Compute a set of statistics of each column.
* `min`, `max` - Compute minimum and maximum values
* `argmin`, `argmax` - Compute index locations of minimum and maximum values.
* `sum` - Sum of values.
* `mean` - Mean of values.
* `median` - Arithmetic median.
* `prod` - Product of values.
* `var` - Sample variance.
* `std`- Sample standard deviation.
* `quantile` - Compute sample quantile ranging from 0 to 1.

## Reduction methods (2/2)

Example:

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    np.arange(12).reshape(3, 4),
    columns=["one", "two", "three", "four"],
    index=["france", "italy", "slovakia"]
)
df

"Describe:"
df.describe()

"Sum:"
df.sum()

## Unique values

`unique()`returns unique values in a column.

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    {"name": ["Max", "Sarah", "John"],
     "surname": ["Rockatansky", "Connor", "McClane"],
     "sex": ["M", "F", "M"],
     "age": [35, 25, 40],
     "country": ["AU", "US", "US"]}
)
df

"Unique name values"
df["name"].unique()

"Unique countries:"
df["country"].unique()

df.value_counts()

## Value counts

`value_counts` computes unique rows in the DataFrame.

In [ ]:
"Initial DataFrame"
df = pd.DataFrame(
    [[2008, "Hamilton", "McLaren"],
     [2009, "Button", "Brawn"],
     [2010, "Vettel", "Red Bull"],
     [2011, "Vettel", "Red Bull"],
     [2012, "Vettel", "Red Bull"],
     [2013, "Vettel", "Red Bull"],
     [2014, "Hamilton", "Mercedes"]],
    columns=["year", "driver", "constructor"] 
)
df = df.set_index("year")
df


"Unique rows"
df.value_counts()

<h1 class="center_text">Loading and storage</h1>

## Parsing functions

pandas includes several functions for reading tabular data (from a file or URL) as a DataFrame:

* `read_csv`
* `read_table`
* `read_excel`
* `read_parquet`
* `read_json`
* `read_sql`

## Read CSV file

Read a CSV file into DataFrame.

This method has many different parameters. You will find a full description in this [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html?highlight=read_csv).

In [ ]:
"Read CSV, using default index"
df = pd.read_csv("samples/ex1.csv")
df

"Specifying header and index"
df = pd.read_csv("samples/ex1.csv",
                 header=0,
                 index_col="country")
df

"Remove rows"
df = pd.read_csv("samples/ex1.csv",
                 skiprows=[0,2])
df

## Writing data

pandas also includes several functions to export tabular data to a file:

* `to_csv`
* `to_excel`
* `to_parquet`
* `to_json`
* `to_sql`

<h1 class="center_text">Data cleaning</h1>

## NA handling methods

pandas objects are includes some methods related to missing data handling

* `dropna` - Filter axis labels based on whether values have missing data.
* `fillna` - Fill in missing data with some value or using an interpolation method (such as `ffill` or `bfill`).
* `isnull` - Return boolean values indicating which values are missing/NA.
* `notnull` - Return boolean values indicating which values are not missing/NA.

## Filtering out missing data by row

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, 2.0, 3.0, 4.0],
        [5.0, np.nan, 6.0, 7.0],
        [np.nan, np.nan, np.nan, np.nan],
        [13.0, 14.0, 15.0, 16.0]
    ],
    columns=["A", "B", "C", "D"]
)
df


"Drop rows with a missing value:"
df.dropna()

"Drop rows where all values are NA:"
df.dropna(how='all')

## Filtering out missing data by column

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, np.nan, 3.0, 4.0],
        [5.0, np.nan, 7.0, 8.0],
        [9.0, np.nan, np.nan, 12.0],
        [13.0, np.nan, 15.0, 16.0]
    ],
    columns=["A", "B", "C", "D"]
)
df


"Drop rows with a missing value:"
df.dropna(axis=1)

"Drop rows where all values are NA:"
df.dropna(axis=1, how='all')

## Filling in missing data with fixed values

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, np.nan, 3.0, 4.0],
        [5.0, np.nan, 7.0, 8.0],
        [9.0, np.nan, np.nan, 12.0],
        [13.0, np.nan, 15.0, 16.0]
    ],
    columns=["A", "B", "C", "D"]
)
df

"Replace all NA with 0"
df.fillna(0)

"Different fill values for each column:"
df.fillna({"B": -1.0, "C": -2.0})

## Filling in missing data with ffill and bfill

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, np.nan, 3.0, np.nan],
        [5.0, 6.0, np.nan, 8.0],
        [9.0, np.nan, 11.0, 12.0],
        [13.0, np.nan, np.nan, np.nan]
    ],
    columns=["A", "B", "C", "D"]
)
df

"ffill - propagate last valid observation"
df.fillna(method='ffill')

"bfill - use next valid observation"
df.fillna(method='bfill')

<h1 class="center_text">Data preparation</h1>

## Removing duplicates

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1, "A"],
        [2, "A"],
        [1, "B"],
        [1, "A"],
        [2, "B"],
        [2, "A"]
    ]
)
df

"Find duplicated:"
df.duplicated()

"Remove duplicated:"
df.drop_duplicates()

## Renaming row index

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, 2.0, 3.0],
        [4.0, 5.0, 6.0],
        [7.0, 8.0, 9.0],
    ],
    columns=["A", "B", "C"]
)
df

"Renaming one index:"
df.rename(index={0: "zero"})

"Renaming all index:"
df.index = ["zero", "one", "two"]
df

## Renaming columns

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, 2.0, 3.0],
        [4.0, 5.0, 6.0],
        [7.0, 8.0, 9.0],
    ],
    columns=["A", "B", "C"]
)
df

"Renaming single column:"
df.rename(columns={"A": "a"})

"Renaming all columns"
df.columns = ["c1", "c2", "c3"]
df

## Replacing values

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        [1.0, 2.0, 3.0],
        [4.0, 5.0, 6.0],
        [7.0, 8.0, 9.0],
    ],
    columns=["A", "B", "C"]
)
df

"Replace single value with a value"
df.replace(5.0, 0)

"Replace list of values with a value"
df.replace([5.0, 9.0], 0)

"Replace list of values with another list"
df.replace([5.0, 9.0], [9.0, 5.0])

## Transforming using a map

You may want to perform some transformation based on the values of the DataFrame:

In [ ]:
"Initial DataFrame:"
df = pd.DataFrame(
    [
        ["John", "M"],
        ["Kelly", "F"],
        ["Maria", "F"],
        ["Max", "M"]
    ],
    columns=["name", "sex"]
)
df

"Map:"
to_int_map = {
    "M": 0,
    "F": 1
}
to_int_map

"After applying map:"
df["sex"] = df["sex"].map(to_int_map)
df

<h1 class="center_text">Data wrangling</h1>

## Merging datasets

`merge` connects rows in DataFrames based on one or more keys. This is similar to SQL `join` operation.

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    {
        "val_1": [1, 2, 3],
        "val_2": [4, 5, 6],
        "key": ["a", "a", "b"]
    }
)

df_2 = pd.DataFrame(
    {
        "val_3": [10, 20, 30],
        "val_4": [40, 50, 60],
        "key": ["c", "a", "b"]
    }
)

df_1
df_2

"After joining:"
pd.merge(df_1, df_2, on="key")

## Merging with different column names

If reference columns have different names, you can specify them separately:

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    {
        "val_1": [1, 2, 3],
        "val_2": [4, 5, 6],
        "lkey": ["a", "a", "b"]
    }
)

df_2 = pd.DataFrame(
    {
        "val_3": [10, 20, 30],
        "val_4": [40, 50, 60],
        "rkey": ["c", "a", "b"]
    }
)

df_1
df_2

"After merging:"
pd.merge(df_1, df_2, left_on="lkey", right_on="rkey")

## Merging behaviors

`merge` supports different join types:

* `inner` - Use only the key combinations observed in both tables (default option).
* `left` - Use all the key combinations found in the left table.
* `right` - Use all key combinations found in the right table.
* `outer` - Use all key combinations observed in both tables together.

## Left / Right / Outer join

In [ ]:
df_1 = pd.DataFrame(
    {
        "val_1": [1, 2, 3, 4],
        "val_2": [5, 6, 7, 8],
        "key": ["a", "a", "b", "c"]
    }
)

df_2 = pd.DataFrame(
    {
        "val_3": [10, 20, 30],
        "val_4": [40, 50, 60],
        "key": ["c", "a", "d"]
    }
)

"Left merge:"
pd.merge(df_1, df_2, on="key", how="left")

"Right merge:"
pd.merge(df_1, df_2, on="key", how="right")

"Outer merge:"
pd.merge(df_1, df_2, on="key", how="outer")

## Merge with multiple keys

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    {
        "val_1": [1, 2, 3, 4],
        "val_2": [5, 6, 7, 8],
        "key_1": ["a", "a", "b", "c"],
        "key_2": ["one", "two", "one", "three"]
    }
)

df_2 = pd.DataFrame(
    {
        "val_3": [10, 20, 30],
        "val_4": [40, 50, 60],
        "key_1": ["c", "a", "d"],
        "key_2": ["three", "one", "two"]
    }
)

df_1
df_2

"After merging"
pd.merge(df_1, df_2, on=["key_1", "key_2"])

## Merging on index

In some cases, the merge key(s) will be found in its index. In this case, you can pass `left_index=True` or `right_index=True` (or both).

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    {
        "val_1": [1, 2, 3, 4],
        "val_2": [5, 6, 7, 8],
        "key": ["a", "a", "b", "c"],
    }
)

df_2 = pd.DataFrame(
    {
        "val_3": [10, 20, 30],
        "val_4": [40, 50, 60]
    },    
    index=["c", "a", "d"]
)

df_1
df_2

"After merging"
pd.merge(df_1, df_2, left_on="key", right_index=True)

## Concatenating DataFrames

In [ ]:
"Initial DataFrames:"
df_1 = pd.DataFrame(
    np.random.randint(20, size=(3,4)),
    columns=["a", "b", "c", "d"]
)

df_2 = pd.DataFrame(
    np.random.randint(20, size=(2,3)),
    columns=["d", "a", "c"]
)

df_1
df_2

"After concat:"
pd.concat([df_1, df_2], ignore_index=True)

# Pivoting wide to long format

In [ ]:
"Wide DataFrame:"
df = pd.DataFrame(
    {
        "A": [1, 2, 3, 4, 5, 6],
        "B": [7, 8, 9, 10, 11, 12],
        "key": ["a", "a", "b", "b", "c", "c"],
    }
)

df

"Long DataFrame:"
pd.melt(df, ["key"])

## Pivot long to wide format

In [ ]:
"Long DataFrame:"
df = pd.DataFrame(
    {
        "age": [10, 11, 12, 10, 11, 12],
        "sex": ["M", "M", "M", "F", "F", "F"],
        "prob": ["0.6", "0.5", "0.4", "0.9", "0.8", "0.7"]
    }
)

df

"Wide DataFrame:"
df.pivot("age", "sex", "prob")

<h1 class="center_text">Data aggregation</h1>

## groupby mechanics

Dataframe `groupby` follows the split-apply-group procedure.

Data is first split into groups based on one or more keys.

After splitting, a function is applied to each group.

Finally, results of all those function applications are combined.

## groupby applied to the whole DataFrame

In [ ]:
df = pd.DataFrame(
    [
        ["spain", "barcelona", 25.5, 12.5],
        ["spain", "barcelona", 18.5, 21.3],
        ["spain", "barcelona", 12.5, 43.2],
        ["spain", "bilbao", 14.5, 50.1],
        ["spain", "bilbao", 5.5, 63.3],
        ["france", "paris", 13.5, 48.2],
        ["france", "paris", 17.5, 37.5],
        ["france", "lyon", 10.5, 27.4]
    ],
    columns=["country", "city", "temp", "precipitation"]
)

"All DataFrame, by country:"
df.groupby(["country"]).mean()

"All DataFrame, by country and city:"
df.groupby(["country", "city"]).mean()

## groupby applied to one column

In [ ]:
df = pd.DataFrame(
    [
        ["spain", "barcelona", 25.5, 12.5],
        ["spain", "barcelona", 18.5, 21.3],
        ["spain", "barcelona", 12.5, 43.2],
        ["spain", "bilbao", 14.5, 50.1],
        ["spain", "bilbao", 5.5, 63.3],
        ["france", "paris", 13.5, 48.2],
        ["france", "paris", 17.5, 37.5],
        ["france", "lyon", 10.5, 27.4]
    ],
    columns=["country", "city", "temp", "precipitation"]
)

"Single column, by country:"
df["temp"].groupby(df["country"]).mean()

"Single column, by country and city:"
df["temp"].groupby([df["country"], df["city"]]).mean()

## Optimized groupby methods

* `count` - Number of non-NA values in the group.
* `sum` - Sum of non-NA values.
* `mean` - Mean of non-NA values.
* `median` - Arithmetic median of non-NA values.
* `std`, `var` - Standard deviation and variance.
* `mean`, `max` - Minimum and maximum of non-NA values.
* `prod` - Product of non-NA values.
* `first`, `last` - First and last non-NA values.

## Apply multiple methods

In [ ]:
df = pd.DataFrame(
    [
        ["spain", "barcelona", 25.5, 12.5],
        ["spain", "barcelona", 18.5, 21.3],
        ["spain", "barcelona", 12.5, 43.2],
        ["spain", "bilbao", 14.5, 50.1],
        ["spain", "bilbao", 5.5, 63.3],
        ["france", "paris", 13.5, 48.2],
        ["france", "paris", 17.5, 37.5],
        ["france", "lyon", 10.5, 27.4]
    ],
    columns=["country", "city", "temp", "precipitation"]
)

"All DataFrame, apply mean, min and max:"
df.groupby(["country", "city"]).agg(["mean", "min", "max"])

<h1 class="center_text">Questions?</h1>

<h1 class="center_text">Thank you!</h1>